{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'SipNChipApp/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'SipNChipApp/custom.css' %}">
        <title>SipNChip | Archived Tournaments</title>
    </head>
    <body>
        <div class="container">
            {% for message in messages %}
                <p class="alert-info">{{ message }}</p>
            {% endfor %}
            <div class="row header-home">
                <div class="col-xs-12 header-col">
                    <h1>Archived Tournaments</h1>
                </div>
            </div>
            <table class="table col-xs-12">
                <tr>
                    <th>Date</th>
                    <th>Sponsors</th>
                    <th>Players</th>
                    <th>Leaderboard</th>
                </tr>
                {% for tournament in archive %}
                    <tr>
                        <td>
                            <p>{{ tournament.dayOfTournament }}</p>
                        </td>
                        <td>
                            {% for sponsor in tournament.sponsoredBy.all %}
                                <p>{{ sponsor.username }}</p>
                            {% endfor %}
                        </td>
                        <td>
                            {% for player in tournament.playersRegistered.all %}
                                <p>{{ player.username }}</p>
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{% url "SipNChipApp:leaderboard" tournament_id=tournament.id %}">
                                <button type="button" class="btn">Leaderboard</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <div class="col-xs-12">
                <a href="{% url "SipNChipApp:home" %}">
                    <div class="dashboard-item">
                        &#8592; Return Home
                    </div>
                </a>
            </div>
        </div>
    </body>
</html>