{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'SipNChipApp/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'SipNChipApp/custom.css' %}">
    <title>SipNChip | Drink Menu</title>
</head>
<body>
    <div class="container">
        <div class="row header-home">
            <div class="col-xs-12">
                <h1>Drink Menu</h1>
            </div>
        </div>

        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}

        <table class="table col-xs-12">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>

            {% for drink in drinks %}
                <tr>
                    <td>{{ drink.name }}</td>
                    <td>{{ drink.description }}</td>
                    <td>${{ drink.price }}</td>
                    <td>
                       <a href="{% url 'SipNChipApp:edit-drink' drink.id %}" >
                           <button type="button" class="btn">Edit</button>
                       </a>
                        <form method="post" action="/drink-menu/">
                            {% csrf_token %}
                            <input type="hidden" value="{{ drink.id }}" name="drink-id">
                            <input type="submit" class="btn btn-danger" value="Remove">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div class="col-xs-12">
            <a href="{% url 'SipNChipApp:add-drink' %}">
                <div class="btn btn-dashboard">
                    Add Drink +
                </div>
            </a>
        </div>
        <br>
        <div class="col-xs-12">
            <a href="{% url 'SipNChipApp:home' %}">
                <div class="dashboard-item">
                    &#8592; Return Home
                </div>
            </a>
        </div>
    </div>
</body>
</html>