{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'SipNChipApp/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'SipNChipApp/custom.css' %}">
        <title>SipNChip | Drink Orders</title>
    </head>
    <body>
        <div class="container">
            <div class="col-xs-12 header-home">
                <h1>Current Drink Orders</h1>
            </div>
            <table class="table col-xs-12">
                <tr>
                    <th>Ordered By</th>
                    <th>Order</th>
                    <th>Current Hole</th>
                    <th>Mark Completed</th>
                </tr>
                {% for order in drinkOrders %}
                    <tr>
                        <td>
                            <p>{{ order.orderedBy }}</p>
                        </td>
                        <td>
                            {% for drink in order.drinks.all %}
                                <p>{{ drink.name }}</p>
                            {% endfor %}
                        </td>
                        <td>
                            <p>{{ order.orderedBy.account.currentHole }}</p>
                        </td>
                        <td>
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ order.id }}">
                                <input type="submit" class="btn" value="Complete">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <br>
            {% for message in messages %}
                <p class="alert">{{ message }}</p>
            {% endfor %}

            <div class="col-xs-12">
                <a href="{% url 'SipNChipApp:home' %}">
                    <div class="dashboard-item">
                        &#8592; Return Home
                    </div>
                </a>
            </div>
        </div>
    </body>
</html>