{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'SipNChipApp/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'SipNChipApp/custom.css' %}">

        <title>SipNChip | Home</title>
    </head>
    <body>
        <div class="container">
            <div class="row header-home">
                <div class="col-xs-12 header-col">
                    <h1>{{userType|title}} Dashboard</h1>
                </div>
            </div>
            <div>
                <p>Hello, {{username}}</p>
                <p>Your account balance is ${{balance}}</p>
                <p>Your user type is {{userType}}</p>
                <br>
            </div>
            <div class="dashboard-items row">
                {% if userType == "player" || userType == "manager" %}
                <div class="col-xs-12">
                    <a href="{% url 'SipNChipApp:tournaments' %}">
                        <div class="dashboard-item">
                            View Tournaments &#8594;
                        </div>
                    </a>
                </div>
                <div class="col-xs-12">
                    <a href="{% url 'SipNChipApp:archived-tournaments' %}">
                        <div class="dashboard-item">
                            Archived Tournaments &#8594;
                        </div>
                    </a>
                </div>
                {% endif %}
                
                {% if userType == "sponsor" || userType == "manager" %}
                    <div class="col-xs-12">
                        <a href="{% url 'SipNChipApp:request-tournament' %}">
                            <div class="dashboard-item">
                                Request Tournament &#8594;
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12">
                        <a href="{% url 'SipNChipApp:sponsor-tournament' %}">
                            <div class="dashboard-item">
                                Sponsor Tournament &#8594;
                            </div>
                        </a>
                    </div>
                {% endif %}

                {% if userType == "bartender" || userType == "manager" %}

                {% endif %}

                {% if userType == "manager" %}
                <div class="col-xs-12">
                    <a href="{% url 'SipNChipApp:tournament-creation' %}">
                        <div class="dashboard-item">
                            Create Tournament &#8594;
                        </div>
                    </a>
                </div>
                <div class="col-xs-12">
                    <a href="{% url 'SipNChipApp:manage-tournaments' %}">
                        <div class="dashboard-item">
                            Remove Tournament &#8594;
                        </div>
                    </a>
                </div>
                <div class="col-xs-12">
                    <a href="{% url 'SipNChipApp:sponsor-requests' %}">
                        <div class="dashboard-item">
                            View Sponsor Requests &#8594;
                        </div>
                    </a>
                </div>
                <div class="col-xs-12">
                    <a href="{% url 'SipNChipApp:userType' %}">
                        <div class="dashboard-item">
                            Set User Types &#8594;
                        </div>
                    </a>
                </div>
                {% endif %}


                <div class="col-xs-12">
                    <a href="{% url 'SipNChipApp:logout' %}">
                        <div class="dashboard-item">
                            &#8592; Logout
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
