{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <title>SipNChip | Login</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1>&nbspLogin</h1>
            </div>
            <form method='POST' action='' class="form uniForm">
                {% csrf_token %}
                <div class="form-group">
                    <label class="form-label">Username*</label>
                    <input type="text" name="username" placeholder="Username..." class="form-control" autofocus/>
                </div>
                <div class="form-group">
                    <label class="form-label">Password*</label>
                    <input type="password" name="password" placeholder="Password..." class="form-control"/>
                </div>
                <div class="form-group">
                    <input type="submit" name="Login User" value="Submit" class="btn btn-primary">
                </div>
                <div class="text-danger">
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <p>Don't have an account? &nbsp;<a href="{% url 'SipNChipApp:register' %}">Sign Up</a></p>
                </div>
            </form>
        </div>
    </body>
</html>