{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <title>SipNChip | Register</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1>&nbspRegister</h1>
            </div>
            <form method='POST' action='' class="form uniForm">
                {% csrf_token %}

                {{ form|crispy }}
            
                <input type="submit" name="Create User" value="Submit" class="btn btn-primary"/>
                <div class="form-group text-danger">
                    {{form.errors}}
                </div>
                <div class="form-group">
                    <p>Already have an account? &nbsp;<a href="{% url 'SipNChipApp:login' %}">Login</a></p>
                </div>
            </form>
        </div>
    </body>
</html>
