{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'SipNChipApp/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'SipNChipApp/custom.css' %}">
    <title>SipNChip | Request Tournament</title>
</head>
<body>
    <div class="container">
        <div class="row header-home">
            <div class="col-xs-12 header-col">
                <h1>Request Tournament</h1>
            </div>
        </div>
        <div>
	    <p>It is $500 to Sponsor a future tournament. Please make sure you have the money in your account before you sponsor a tournament.</p>
	    <p>The $500 will be taken from your account at registration. If the tournament is denied, you will be refunded the $500.</p>
        </div>
        <form method="post" action="/request-tournament/" class="form">
            {% csrf_token %}
            <div class="form-group">
                <label for="date">Date:</label>
                <input name="date" type="date">
            </div>
            <input type="submit" class="btn">
        </form>
        {% for message in messages %}
            <p class="alert">{{ message }}</p>
        {% endfor %}

        <div class="col-xs-12">
            <a href="{% url "SipNChipApp:home" %}">
                <div class="dashboard-item">
                    &#8592; Return Home
                </div>
            </a>
        </div>

    </div>
</body>
</html>
