{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'SipNChipApp/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'SipNChipApp/custom.css' %}">
    <title>SipNChip | Request Tournament</title>
</head>
<body>
    <h1>Request Tournament</h1>
    <form method="post" action="/request-tournament/">
        {% csrf_token %}
        <label for="date">Date:</label>
        <input name="date" type="date">
        <input type="submit">
    </form>
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
    <a href="{% url "SipNChipApp:home" %}">Return Home</a>
</body>
</html>