<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SipNChip | Tournament Sign-up</title>
    </head>
    <body>

        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        <h1>Current Tournaments</h1>
        {% for tournament in tournament_list %}
            <h2>{{ tournament.dayOfTournament }}</h2>
            <h3>Sponsored by:</h3>
            <ul>
                {% for sponsor in tournament.sponsoredBy.all %}
                    <li>{{ sponsor.username }}</li>
                {% endfor %}
            </ul>
            <h3>Current players: {{ tournament.playersRegistered.all.count}}</h3>
            <ul>
                {% for player in tournament.playersRegistered.all %}
                    <li>{{ player.username }}</li>
                {% endfor %}
            </ul>
            <form method="post" action="/signup/">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ tournament.id }}">
                <input type="submit" value="Register">
            </form>
        {% endfor %}

        <a href="{% url "SipNChipApp:home" %}">Return Home</a>
    </body>
</html>