{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'SipNChipApp/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'SipNChipApp/custom.css' %}">
        <title>SipNChip | Tournament Sign-up</title>
    </head>
    <body>

        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        <h1>Current Tournaments</h1>
        <table>
            <tr>
                <th>Date</th>
                <th>Sponsors</th>
                <th>Players</th>
                <th>Register</th>
            </tr>
            {% for tournament in tournament_list %}
                <tr>
                    <td>
                        <p>{{ tournament.dayOfTournament }}</p>
                    </td>
                    <td>
                        {% for sponsor in tournament.sponsoredBy.all %}
                            <p>{{ sponsor.username }}</p>
                        {% endfor %}
                    </td>
                    <td>
                        {% for player in tournament.playersRegistered.all %}
                            <p>{{ player.username }}</p>
                        {% endfor %}
                    </td>
                    <td>
                        <form method="post" action="/signup/">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ tournament.id }}">
                            <input type="submit" value="Register">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <a href="{% url "SipNChipApp:home" %}">Return Home</a>
    </body>
</html>