{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>User Type Assignment</title>
	<link rel="stylesheet" type="text/css" href="{% static 'SipNChipApp/style.css' %}"/>
    </head>
    <body>
        <h1>User Types</h1>
        <div>
		<table>
			<tr>
				<th>Username</th>
				<th>User Type</th>
			</tr>
			{% for account in accounts %}
				<tr>
					<form method='POST' action='{% url 'SipNChipApp:setUserType' %}'>
					{% csrf_token %}
						<td>{{account.user}}</td>
						<td>
							<select id={{account.user}} name=userType>
								<option value=1 {%if account.userType == 1 %} selected='selected' {% endif %}>Player</option>
								<option value=2 {%if account.userType == 2 %} selected='selected' {% endif %}>Sponsor</option>
								<option value=3 {%if account.userType == 3 %} selected='selected' {% endif %}>Bartender</option>
								<option value=4 {%if account.userType == 4 %} selected='selected' {% endif %}>Manager</option>
							</select>
							<input type="submit" name="setUserType" value="Set Type">
							<input type="hidden" name="username" value={{account.user}}>
						</td>
					</form>
				</tr>
			{% endfor %}
		</table>
        </div>
    </body>
</html>
