{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'SipNChipApp/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'SipNChipApp/custom.css' %}">
        <title>SipNChip | User Orders</title>
    </head>
    <body>
        <div class="container">
            <div class="row header-home">
                <div class="col-xs-12">
                    <h1>Your Current Drink Orders</h1>
                </div>
            </div>
            <table class="table col-xs-12">
                <tr>
                    <th>Order</th>
                    <th>Total</th>
                    <th>Cancel</th>
                </tr>
                {% for order in drinkOrders %}
                    <tr>
                        <td>
                            {% for drink, quantity in order.drinks.items %}
                                <p>{{ drink }} ({{ quantity }})</p>
                            {% endfor %}
                        </td>
                        <td>
                            <p>{{ order.totalPrice }}</p>
                        </td>
                        <td>
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ order.id }}">
                                <input type="submit" class="btn" value="Cancel">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <br>
            {% for message in messages %}
                <p class="danger-message">{{ message }}</p>
            {% endfor %}
            <div class="col-xs-12">
                <a href="{% url 'SipNChipApp:home' %}">
                    <div class="dashboard-item">
                        &#8592; Return Home
                    </div>
                </a>
            </div>
        </div>
    </body>
</html>